[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
nptyping = "*"
yacs = "*"
scipy = "*"
geomdl = "*"
tqdm = "*"

[dev-packages]
loguru = "*"
pytest = "*"
black = "*"
pytest-timeout = "*"

[requires]
python_version = "3.7"
